@media screen and (min-device-width: 800px) {
  .wrapper {
    main {
      width: 100%;
      margin-top: 5em;
    }
    margin: 0px 20%;
  }
}

.wrapper {
  overflow-x: hidden;
  main {
    text-align: center;
  }
}
